header {
  grid-column: 1 / 4;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("../images/plane-banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 2%;

  .fa-plane {
    color: white;
  }

  h1,
  h2 {
    color: white;
  }
}

.sign-in-form {
  display: flex;
  justify-content: flex-end;
  width: 40%;

  input {
    border: none;
    border-radius: 2px;
    box-shadow: none;
    margin: 1%;
    padding-left: 1%;
  }

  .button-signin {
    font-weight: bold;
    color: $dark-gray;
    background-color: white;
    width: 20%;

    &:hover {
      color: $blue;
      background-color: white;
    }
  }

  .sign-in-label {
    position: absolute;
    display: block;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip-path: inset(1px);
  }
}

.sidebar {
  border-right: $section-border;
  padding: 0 10%;

  .icon {
    height: 125px;
    width: 150px;
    margin-top: 5%;
  }
}

.all-trips {
  padding-left: 3%;
  padding-right: 6%;

  h2 {
    padding-bottom: 3%;
    border-bottom: $section-border;
  }
}

.trip-stats {
  @extend .sidebar;
  color: black;
  padding: 8% 5%;
  margin-top: 15%;
  border-radius: 2px;
  background: $light-gray;

  h3 {
    margin-top: 0;
  }

  .stat {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 10%;
  }
}

.hidden {
  display: none !important;
}

.error-message {
  color: red;
  font-style: italic;
}

#sign-in-error-message {
  color: white;
}

.success {
  border: 2px solid green;
}

.failure {
  border: 2px solid red;
}

@media screen and (max-width: 1400px) {
  .all-trips {
    padding-right: 8%;
  }
}

@media screen and (max-width: 1200px) {
  .sign-in-form {
    flex-direction: column;
    width: 25%;

    .button-signin {
      width: 50%;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;

    h2 {
      margin-top: 0;
    }
  }

  .sign-in-form {
    flex-direction: row;
    justify-content: center;
    width: 70%;

    .button-signin {
      height: 33px;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    height: auto;
  }

  .sidebar {
    border-right: none;
  }

  .icon {
    display: none;
  }

  .all-trips {
    padding: 0;
    margin: 0 5%;
  }

  .sign-in-form {
    flex-direction: column;
    margin-bottom: 5%;

    .button-signin {
      height: 30px;
    }
  }
}
