.banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("../images/plane-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 2%;
}

.fa-plane {
  color: $dark-gray;
}

.icon {
  height: 15%;
  width: 80%;
}

.sidebar {
  border-right: 1px solid lightgray;
  padding-left: 10%;
  padding-right: 10%;
}

.all-trips {
  padding-left: 5%;
  padding-right: 5%;
}

.hidden {
  display: none;
  transition: $transition;
  // ^^ is this working?
}
