.card-grid {
  display: grid;
  grid-column-gap: 6%;
  grid-row-gap: 7%;
  grid-template-columns: repeat(3, 1fr);

  h3 {
    font-size: 1.2em;
    margin-top: 3%;
    margin-bottom: 5%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5%;
  height: 100%;
  width: 100%;
  border: 2px solid $dark-gray;
  border-radius: 3px;
  margin-bottom: 5px;

  img {
    height: 150px;
    width: 100%;
    margin-bottom: 10%;
  }

  .card-destination {
    height: 12%;
  }

  .pending {
    color: red;
  }
}

@media screen and (max-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8%;
    grid-row-gap: 3%;
  }
}

@media screen and (max-width: 1100px) {
  .card-grid {
    grid-row-gap: 6%;
  }
}

@media screen and (max-width: 750px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}
