.trip-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
}

input,
#trip-destination {
  height: 30px;
}

.button-quote {
  border: none;
  background-color: $dark-gray;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  color: white;

  &:hover {
    background-color: $light-gray;
    transition: $transition;
  }
}

.button-submit {
  @extend .button-quote;
  color: white;
  background-color: $blue;
}

#trip-request-message {
  margin-bottom: 10%;
}
