// FONTS
$primary-font: "Open Sans", sans-serif;

// COLORS
$blue: #00B0FE;
$light-gray: #90A9CA;
$dark-gray: #585A89;

// BASIC ANIMATIONS
// $button-hover: inset 0px 0px 2px 2px black;
$transition: .5s ease;
